<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
  <head>
    <title>Silent Edge | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  
	<body>
		{% include 'navbar.html' %}
		<div class="jumbotron">
			<div class="container">
			[Tools Buttons Placeholder]
			[Latest Matches Placeholder]
			</div>
		</div>

	</body>
</html>
